@import "../../../scss/variables";
@import "../../../scss/mixins";


.logo-img {
  display: block;
  width: 60px;
  height: 60px;
  transition: all .9s;
}

#logo {
  width: 100%;
  height: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  z-index: 10;
  transition: all .6s;

  &-bar {
    
    display: flex;
    &:hover .navigation__link {
      opacity: 0.3;
    }

    &:hover .navigation__link--mod{
      opacity: 0.3;
    }

    & .navigation__link:hover {
      opacity: 1;
      color: white !important;
    }

    & .navigation__link--mod:hover {
      opacity: 1;
      color: black !important;
    }
  }

  &__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}