@import "../../../scss/variables";
@import "../../../scss/mixins";


.logo-img {
  display: block;
  width: 60px;
  height: 60px;
  transition: all .9s;
  margin-right: 50px;
}

#logo {
  width: 100%;
  height: 100%;
  fill: $grey
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  z-index: 10;
  transition: all .6s;
  padding-top: 10px;

  &-bar {
    margin-left: 40px;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    
    &:hover .navigation__link {
      opacity: 0.3;
    }

    &:hover .navigation__link--mod{
      opacity: 0.3;
    }

    & .navigation__link:hover {
      opacity: 1;
      color: white !important;
    }

    & .navigation__link--mod:hover {
      opacity: 1;
      color: black !important;
    }
  }

  &__container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.changeLang {
  max-width: 100%;
  font-family: $Mont;
  position: absolute;
  display: flex;
  right: 0;
  top:-3px;
  color: $grey;

  &:hover .langbutton{
    opacity: 0.3;
    
    &::after {
      opacity:0.3
    }
  }

  & .langbutton:hover {
    opacity: 1;
    color: white;
  }

  & .langbutton--mod:hover {
    opacity: 1;
    color:black;
  }

  & .langbutton::after:hover{
    opacity: 0.3;
  }
}

.langbutton{
  display: inline-block;
  position: relative;
  padding: 0 6px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: .9s;

  &::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 1.65px;
    top: 0;
    right: -1px;
    background-color: $grey;
    transition: .9s;
  }
  
}

.langbutton.last::after{
  height: 0;
}

