@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.navigation__item {
  
  align-self: center;
  font-family: $Mont;
  
}

.navigation__link, .navigation__link--mod {

  display: inline-block;
  width: inherit;
  height: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: $grey;
  transition: 0.9s;
  cursor: pointer;
}

.navigation__link.active {
  color: $lightGrey;
  transition: .9s;
}

.navigation__link.active.navigation__link--mod {
  color: $darkGrey;
}