@import "../../../scss/variables";
@import "../../../scss/mixins";

.we-are {
  position: relative;
  top: -125px;
}
.header {
  width: 100%;
  height: 100vh;
  background: url('../../../images/BG.png') top left no-repeat;
  background-size: 100% 100%;
  
  & .main-title {
    padding-top: 350px;
    font-family: $Mont;
    font-size: 75px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    transition: all 2s ease-in-out;
    
  }
  
}